{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>{{ title }}:</h2>
    <p>
        История коллектива ведется с лета 1975 года.
        <br />
        Сейчас студия является лучшей в городе по классическому танцу.
        Коллектив участвует во всех крупных мероприятиях, праздниках в городе и области. «Щелкунчик» тесно сотрудничает с «Имперским Русским балетом», руководителем которого является Гедиминас Таранда.
        Большое внимание уделяется в коллективе гражданско-патриотическому воспитанию. В дни празднования 70 - летия победы в Великой Отечественной Войне, коллектив принял участие не только в концертных программах, но и осуществил несколько совместных проектов с другими коллективами МБУК «ГКЦ».
        <br />
        Коллектив активно участвует в Международных, Всероссийских, Областных, Городских фестивалях и конкурсах, и берет высокие награды:
        <br />
        - Международный конкурс детского, юношеского и взрослого творчества «Наше будущее». Диплома лауреата II степени.<br />
        - Областной фестиваль хореографического искусства «Танцуй, родная Псковщина». Диплом Лауреата (на лучшую балетмейстерскую работу по постановке танцев гражданского и патриотического содержания);<br />
        - Всероссийский детский открытый хореографический фестиваль-конкурс «Балтийский бриз»,<br />
        - 5-ый Всероссийский открытый фестиваль-конкурс хореографических коллективов «В гостях у Пушкина» (1 место, ном. «Классич. Танец).<br />
        - IV международный конкурс художественного творчества "Радость открытия" Пушкинские горы. Диплом лауреата I степени.<br />
    </p>
</div>
{% endblock %}
