{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand"><a>{{ user.username }}</a></span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выход</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    {% if not user.is_authenticated %}
        <li><a href="{% url 'registration' %}">Регистрация</a></li>
    {% endif %}
    <li><a href="{% url 'login' %}">Вход</a></li>
</ul>

{% endif %}
