{% extends "app/layout.html" %}

{% block content %}


<div class="jumbotron">
    <p>
        <h1>"Вальс цветов"</h1>
        <h3>24 мая студия классического танца "Щелкунчик" удостоилась чести принимать участие в гала-концерте в рамках "Дней Псковской области в Москве".
        Нам предоставилась уникальная возможность выступать на сцене театра "Руссской песни" с нашей уже визитной карточкой - "Вальсом цветов"</h3>
        <video src="/media/video1.mp4"
                controls="controls"
                width="100%"
                poster="/media/fon.jpg"></video>
    </p>
    <p>
        <h1>"Дни псковской области"</h1>
        <h3>"Дни псковской области" в Москве завершились грандиозным гала-концертом. Насыщенная деловая и культурная программа вызвала у москвичей и гостей столицы неподдельный интерес.
        Губернатор Михаил Ведерников уверен, что в ближайшем будущем жители Псковской области увидят результаты этого события.</h3>
        <video src="/media/video2.mp4"
                controls="controls"
                width="100%"
                poster="/media/fon.jpg"></video>
    </p>
</div>

{% endblock %}
